body {
    color: #333;
}

nav {
    background-color: #333;
    color: #fff;
    height: 70px;
}

.container {
    background-color: #fff;
    padding: 2em;
}

.spacer {
    margin-top: 1em !important;
}

.padding {
    padding: 1em;
}

.middle {
    width: 100%;
    padding: .7em 2em;
}

.middle * {
    transition: none;
}

.middle form {
    text-align: center;
}

.middle select{
    width: 15%;
}

.middle input{
    width: 30%;
    height: auto;
}

/* .middle button{
    vertical-align: middle;
} */


.margin {
    margin-left: 2em;
}


.back-grey {
    background-color: #666;
}